body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #add8e6;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover {
  transform: translateY(-3px);
}

.logo {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: none;
}

.container {
  display: flex;
}

.box {
  flex: 1;
  border: 2px solid #add8e6;
  padding: 20px;
  margin: 20px;
  width:auto;
  height:200px;

}

footer {
  position: fixed;
  background-color: #add8e6;
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.animated-link {
  color: black; /* Default text color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.animated-link:hover {
  color: rgb(247, 229, 30); /* New text color when hovered */
}
